/* BEGIN */

/*

	+Table of Contents
	==========================================

Search:

	+Begin
	+Default Styling
	+ Header
	+ Body
		- Introduction
		- Navigation
		- Sections
			i. Icons
			ii. Content
	+ Footer
	
	+End
	
	==========================================
	
*/


/* DEFAULT STYLING */
/* DEFAULT STYLING */

@font-face {
    font-family: 'brown-bold';
    src: url('../fonts/brown-bold.eot');
    src: url('../fonts/brown-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brown-bold.woff2') format('woff2'),
         url('../fonts/brown-bold.woff') format('woff'),
         url('../fonts/brown-bold.ttf') format('truetype'),
         url('../fonts/brown-bold.svg#brownbold') format('svg');
}

@font-face {
    font-family: 'brown-regular-italic';
    src: url('../fonts/brown-regular-italic.eot');
    src: url('../fonts/brown-regular-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brown-regular-italic.woff2') format('woff2'),
         url('../fonts/brown-regular-italic.woff') format('woff'),
         url('../fonts/brown-regular-italic.ttf') format('truetype'),
         url('../fonts/brown-regular-italic.svg#brownregular_italic') format('svg');
}

@font-face {
    font-family: 'calendas-plus-italic';
    src: url('../fonts/calendas_plus_italic.eot');
    src: url('../fonts/calendas_plus_italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calendas_plus_italic.woff2') format('woff2'),
         url('../fonts/calendas_plus_italic.woff') format('woff'),
         url('../fonts/calendas_plus_italic.ttf') format('truetype'),
         url('../fonts/calendas_plus_italic.svg#calendas_plusitalic') format('svg');
}


body {
	font-size: 10px;
	margin: 0px;
	padding-bottom: 100px;
	color: #ffffff;
}

h1 {
	font-family: 'brown-regular-italic', Avenir, sans serif;
	font-size: 50px;
	font-weight: 300;
	letter-spacing: 2px;
	line-height: 0.4em;
	color: #ffffff;
}

h2 {
	font-family: 'brown-bold', Avenir, sans serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #ffffff;
}

h3 {
	font-family: 'brown-bold', Avenir, sans serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #ffffff;	
}

p {
	font-family: 'brown-regular-italic', Avenir, sans serif;
	font-size: 30px;
	letter-spacing: 0em;
	line-height: 50px;
	padding-top: 0px;
}

a {
	color: #000000;
	text-decoration: none;
	border-bottom: 3px solid #EEE;
}

a:hover {
	border-bottom: 3px solid #99FFA0;
}


/* GLOBAL WIDTH */
/* GLOBAL WIDTH */

.loader {
	position: absolute;
	top: 0;
	width: 100%;
	height: 90%;
	background-color: #091156;
	text-align: center;
	z-index: 100;
}

.loader.animated.fadeOut {
	-webkit-animation-duration: 4s;
	-moz-animation-duration: 4s;
	-o-animation-duration: 4s;
	animation-duration: 4s;
	-webkit-animation-delay: 4s;
  	-moz-animation-delay: 4s;
  	-o-animation-delay: 4s;
  	animation-delay: 4s;
}

.insignia.animated.fadeIn {
	-webkit-animation-duration: 4s;
	-moz-animation-duration: 4s;
	-o-animation-duration: 4s;
	animation-duration: 4s;
}

.insignia img {
	position: absolute;
	top: 10%;
	left: 10%;
}

.insignia img:empty {
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}


.welcome {
	position: absolute;
	display: inline-block;
	top: 0;
	width: 100%;
	height: 90%;
	background-color: #091156;
	text-align: center;
}

.title {
	position: relative;
	top: 20%;
}

.summary {
	width: 560px;
	position: relative;
	top: 33%;
	margin: 0 auto;
}

.summary p {
	font-family: "calendas-plus-italic";
	font-weight: normal;
	-moz-font-feature-settings:"salt" 1; 
	-moz-font-feature-settings:"salt=1"; 
	-ms-font-feature-settings:"salt" 1; 
	-o-font-feature-settings:"salt" 1; 
	-webkit-font-feature-settings:"salt" 1;
	font-feature-settings:"salt" 1;
}

.spots {
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 90%;
	text-align: center;
	overflow: hidden;
}

.spots p {
	z-index: 10;
	position: absolute;
	bottom: 40px;
	width: 100%;
	line-height: 35px;
	margin: 0;
}

.spots h3 {
	z-index: 10;
	position: absolute;
	bottom: 10px;
	width: 100%;
	line-height: 25px;
	margin: 0;
}

.spots.a {
	top: 90%;
}

.spots img {
    position: absolute;
    top:50%;
    min-height:100%;
    display:block;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    min-width:100%;
    z-index: -10;
}

.spots.b {
	top: 180%;
}

.spots.c {
	top: 270%;
}

.spots.d {
	top: 360%;
}

.introduction {
	width: 435px;
	margin: 0px auto 100px auto;
	text-align: left;
}

.me {
	width: 435px;
	margin: 0px auto 65px auto;
	text-align: left;
}


/* TOP BAR */
/* TOP BAR */

.header {
	width: 435px;
	margin: 0px auto;
} 

.topbar {
	margin: 100px auto 100px;
}


/* INDEX - CONTENT */
/* INDEX - CONTENT */

/* CONTENT - PROJECTS */
/* CONTENT - PROJECTS */

.projects {
	text-align: center;
}

.tile {
	position: relative;
	float: left;
	overflow: hidden;
	width: 33.3333333%;
}

.tile:before {
	content: "";
	display: block;
	padding-top: 100%;
}

.tile:hover .project {
	opacity: 1;
	-webkit-transition: all .7s ease-in-out;
	-moz-transition: all .7s ease-in-out;
	-o-transition: all .7s ease-in-out;
	transition: all .7s ease-in-out;
}

.tile-image {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.project {
	display: block;
	opacity: 0;
	-webkit-transition: all .7s ease-in-out;
	-moz-transition: all .7s ease-in-out;
	-o-transition: all .7s ease-in-out;
	transition: all .7s ease-in-out;
}

.project a {
	color: inherit;
}

.project h2 {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin-top: 15%;
	opacity: .2;
	z-index: 100;
}

.project-logo {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 200;
}

.project h3 {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin-top: 80%;
	padding: 0 5%;
}


/* CONTENT - PROJECT BY PROJECT */
/* CONTENT - PROJECT BY PROJECT */

.tile.one {
	background-color: #4f91cd;
	color: #004990;
}

.tile.two {
	background-color: #000000;
	color: #B0B0B0;
}

.tile.three {
	background-color: #fe3f4b;
	color: #000000;
}

.tile.four {
	background-color: #fecb45;
	color: #000000;
	margin: 0px auto 120px 33.3%;
}

.project-logo.one img {
	width: 40%;
	margin-top: 44%;
}

.project-logo.two img {
	width: 70%;
	margin-top: 44%;
}

.project-logo.three img {
 	width: 38%;
	padding-top: 43%;
}

.project-logo.four img {
 	width: 38%;
	padding-top: 46%;
}

.tile-image.one img {
	width: 70%;
	margin-top: 15%;
}

.tile-image.two img {
	width: 100%;
	margin-top: 0;
	opacity: .7;
}

.tile-image.three img {
	width: 70%;
	padding-top: 22%;
}

.tile-image.four img {
	width: 100%;
	margin-top: 0;
}


/* ABOUT - CONTENT */
/* ABOUT - CONTENT */

/* CONTENT - RESUME */
/* CONTENT - RESUME */

.resume {
	margin-bottom: 35px;
}

.resume-desc {
	margin-left: 170px;
}

.resume-desc a {
	text-decoration: none;
	border-bottom: 2px solid #EEE;
}

.resume-desc a:hover {
	border-bottom: 2px solid #99FFA0;
}

.leaving {
	position: absolute;
	margin-top: 9px;
	margin-left: 8px;
	font-size: 16px;
	color: #80ff88;
	display: inline-block;
	pointer-events: none;
	opacity: 0;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.resume-logo:hover .leaving {
	opacity: 1;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.resume-logo.wb img {
	width: 125px;
	margin-top: 10px;
	margin-bottom: 30px;
	float: left;
}

.resume-logo.rokkan img {
	width: 97px;
	margin-top: -7px;
	margin-bottom: 30px;
	float: left;
}

.resume-logo.harvard img {
	width: 123px;
	margin-top: 1px;
	margin-bottom: 30px;
	float: left;
}

.resume-logo.cornell img {
	width: 104px;
	margin-top: 0px;
	margin-bottom: 30px;
	float: left;
}

.forward {
	position: absolute;
	height: 20px;
	padding: 7px 0 0 5px;
}
